@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
	font-family: "Poppins", sans-serif;
}

.fIcon {
	color: inherit;
}

.fIcon:hover {
	color: azure;
}

.content {
	min-height: calc(100vh - 156px);
}
